<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav>
    <label class="logo">LOGO</label>
    <ul>
      <li><a>home</a></li>
      <li><a>private section 1</a></li>
      <li><a>private section 2</a></li>
      <li><a>private section 3</a></li>
    </ul>
    <label class="auth"><a >Authentification</a></label>
    <div class="burger" (click)="changeClass()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
  </nav>
  <div class="jumbotron">
    <div>
      <div class="col-sm-4"></div>
      <h2 class="col-sm-8">Home</h2>
    </div>
    <p>Welcome to my application, you can find here different information about stock market.</p>
  </div>
  <div class="jumbotron">
    <div>
      <div class="col-sm-4"></div>
      <h2 class="col-sm-8">Private section 1</h2>
    </div>
  </div>
  <div class="jumbotron">
    <div>
      <div class="col-sm-4"></div>
      <h2 class="col-sm-8">Private section 2</h2>
    </div>
  </div>
  <div class="jumbotron">
    <div>
      <div class="col-sm-4"></div>
      <h2 class="col-sm-8">Private section 3</h2>
    </div>
  </div>
</body>
</html>